<div class="table-header-container">
	<h2 class="table-header">Site Deposits</h2>
	<hr class="table-seperator" />
</div>
<div class="table-search-seperator"></div>
<div class="table-search-seperator-mobile visible-xs"></div>
<table id="deposits" class="table table-striped table-hover datatable" data-action="@Url.Action("GetDeposits", "AdminDeposit")">
	<thead>
		<tr>
			<th>Id</th>
			<th>UserName</th>
			<th>Currency</th>
			<th>Amount</th>
			<th>Status</th>
			<th>Type</th>
			<th>TxId</th>
			<th>Conf.</th>
			<th>Timestamp</th>
		</tr>
	</thead>
	<tbody></tbody>
</table>
@Scripts.Render("~/Scripts/Project/Admin/deposit.js")

