bin/
obj/
Web.Site/Web.Site/Content/Images
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.vs/config/*.*

*.dbmdl
Web.Site/Web.Site/Content/Images/Coins/*.*
WE-settings.xml
Web.Site/Web.Site/Content/Sprites*/
packages/
*.jfm
.vs/
Web.Admin/compiledts/
Web.Admin/node_modules/

Web.Site/Web.Site/Content/Bundle/site_bundle2.min.css
Web.Site/Web.Site/Content/Bundle/site_bundle2.css

packages/
packages/*
