<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Base32" version="1.1.0.2" targetFramework="net452" />
  <package id="EntityFramework" version="6.1.3" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net452" />
  <package id="OtpSharp" version="1.3.0.4" targetFramework="net452" />
  <package id="ReCaptcha-AspNet" version="1.3.0" targetFramework="net452" />
  <package id="Sendgrid" version="9.9.0" targetFramework="net452" />
  <package id="System.Net.Http" version="4.0.0" targetFramework="net452" />
</packages>