<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
	<connectionStrings>
		<add name="DefaultConnection" connectionString="Data Source=database.devtopia.co.nz;Database=CryptopiaHub;User ID=Development;Password=35a5d30d672d535c430cf55a5268b901;Trusted_Connection=False;Encrypt=True;TrustServerCertificate=True;Connection Timeout=30;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
		<add name="DefaultPoolConnection" connectionString="Data Source=database.devtopia.co.nz;Database=CryptopiaPool;User ID=Development;Password=35a5d30d672d535c430cf55a5268b901;Trusted_Connection=False;Encrypt=True;TrustServerCertificate=True;Connection Timeout=30;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
		<add name="DefaultExchangeConnection" connectionString="Data Source=database.devtopia.co.nz;Database=Cryptopia;User ID=Development;Password=35a5d30d672d535c430cf55a5268b901;Trusted_Connection=False;Encrypt=True;TrustServerCertificate=True;Connection Timeout=30;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
        <add name="DefaultMonitoringConnection" connectionString="Data Source=database.devtopia.co.nz;Database=Monitopia;User ID=Development;Password=35a5d30d672d535c430cf55a5268b901;Trusted_Connection=False;Encrypt=True;TrustServerCertificate=True;Connection Timeout=30;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />	</connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <!-- email -->
    <add key="Email_ApiKey" value="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" />
    
    <add key="SMTP_Server" value="smtp.sendgrid.net" />
    <add key="SMTP_Port" value="587" />

    <add key="Email_Contact" value="system@cryptopia.co.nz" />
    <add key="Email_System" value="system@cryptopia.co.nz" />
    <add key="Email_System_User" value="Cryptopia" />
    <add key="Email_System_Password" value="39ac5730199fd3ba87e4b095d6341c55" />

    <add key="Email_NoReply" value="noreply@cryptopia.co.nz" />
    <add key="Email_NoReply_User" value="Cryptopia" />
    <add key="Email_NoReply_Password" value="39ac5730199fd3ba87e4b095d6341c55" />

		<add key="RecaptchaPublicKey" value="6LfGaP4SAAAAANUTvdad4FnCJGbnij6d-q598E7h" />
		<add key="RecaptchaPrivateKey" value="6LfGaP4SAAAAAO3ZQEGK8-lT3MA1FgV43Qso6aP_" />

		<add key="Redis_WebCache_Enabled" value="true" />
		<add key="Redis_ChatCache_Enabled" value="true" />
		<add key="Redis_ApiKeyCache_Enabled" value="true" />
		<add key="Redis_ApiThrottleCache_Enabled" value="true" />
		<add key="Redis_ApiReplayCache_Enabled" value="true" />

		<add key="RedisConnection_WebCache" value="127.0.0.1:10001" />
		<add key="RedisConnection_ChatCache" value="127.0.0.1:10001" />
		<add key="RedisConnection_ApiKeyCache" value="127.0.0.1:10001" />
		<add key="RedisConnection_ApiReplayCache" value="127.0.0.1:10001" />
		<add key="RedisConnection_ApiThrottleCache" value="127.0.0.1:10001" />

	</appSettings>
  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Base32" publicKeyToken="3427d4dc8cee30c6" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.2" newVersion="1.1.0.2" />
      </dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.AspNet.SignalR.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.2.2.0" newVersion="2.2.2.0" />
			</dependentAssembly>
    </assemblyBinding>
  </runtime>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IAdmintopiaService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/AdmintopiaService.Service/AdmintopiaService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAdmintopiaService"
                contract="AdmintopiaService.IAdmintopiaService" name="BasicHttpBinding_IAdmintopiaService" />
        </client>
    </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>