<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="resizer" type="ImageResizer.ResizerSection,ImageResizer" requirePermission="false" />
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>
	<connectionStrings>
		<!--
		<add name="DefaultConnection" connectionString="Data Source=office.cryptopia.co.nz;Database=CryptopiaHub;User ID=Development;Password=35a5d30d672d535c430cf55a5268b901;Trusted_Connection=False;Encrypt=True;TrustServerCertificate=True;Connection Timeout=30;MultipleActiveResultSets=True;Min Pool Size=50;" providerName="System.Data.SqlClient" />
		<add name="DefaultPoolConnection" connectionString="Data Source=office.cryptopia.co.nz;Database=CryptopiaPool;User ID=Development;Password=35a5d30d672d535c430cf55a5268b901;Trusted_Connection=False;Encrypt=True;TrustServerCertificate=True;Connection Timeout=30;MultipleActiveResultSets=True;Min Pool Size=50;" providerName="System.Data.SqlClient" />
		<add name="DefaultExchangeConnection" connectionString="Data Source=office.cryptopia.co.nz;Database=Cryptopia;User ID=Development;Password=35a5d30d672d535c430cf55a5268b901;Trusted_Connection=False;Encrypt=True;TrustServerCertificate=True;Connection Timeout=30;MultipleActiveResultSets=True;Min Pool Size=50;" providerName="System.Data.SqlClient" />
		<add name="SignalrBackplane" connectionString="Data Source=office.cryptopia.co.nz;Database=SignalrBackplane;User ID=Development;Password=35a5d30d672d535c430cf55a5268b901;Trusted_Connection=False;TrustServerCertificate=True;Connection Timeout=30;MultipleActiveResultSets=True;Min Pool Size=100;" providerName="System.Data.SqlClient" />
		-->
		<add name="DefaultConnection" connectionString="Data Source=database.devtopia.co.nz;Database=CryptopiaHub;User ID=Development;Password=d30d672d535c430cf55a5268b901;Trusted_Connection=False;Encrypt=True;TrustServerCertificate=True;Connection Timeout=30;MultipleActiveResultSets=True;Min Pool Size=50;" providerName="System.Data.SqlClient" />
		<add name="DefaultPoolConnection" connectionString="Data Source=database.devtopia.co.nz;Database=CryptopiaPool;User ID=Development;Password=d30d672d535c430cf55a5268b901;Trusted_Connection=False;Encrypt=True;TrustServerCertificate=True;Connection Timeout=30;MultipleActiveResultSets=True;Min Pool Size=50;" providerName="System.Data.SqlClient" />
		<add name="DefaultExchangeConnection" connectionString="Data Source=database.devtopia.co.nz;Database=Cryptopia;User ID=Development;Password=d30d672d535c430cf55a5268b901;Trusted_Connection=False;Encrypt=True;TrustServerCertificate=True;Connection Timeout=30;MultipleActiveResultSets=True;Min Pool Size=50;" providerName="System.Data.SqlClient" />
		<add name="SignalrBackplane" connectionString="Data Source=database.devtopia.co.nz;Database=SignalrBackplane;User ID=Development;Password=d30d672d535c430cf55a5268b901;Trusted_Connection=False;TrustServerCertificate=True;Connection Timeout=30;MultipleActiveResultSets=True;Min Pool Size=100;" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<appSettings>
		<add key="webpages:Version" value="3.0.0.0" />
		<add key="webpages:Enabled" value="false" />
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />

		<!-- email -->
		<add key="SMTP_Server" value="smtp.sendgrid.net" />
		<add key="SMTP_Port" value="587" />

		<add key="Email_Contact" value="system@cryptopia.co.nz" />
		<add key="Email_System" value="system@cryptopia.co.nz" />
		<add key="Email_System_User" value="Cryptopia" />
		<add key="Email_System_Password" value="30199fd3ba87e4b095d6341c55" />

		<add key="Email_NoReply" value="noreply@cryptopia.co.nz" />
		<add key="Email_NoReply_User" value="Cryptopia" />
		<add key="Email_NoReply_Password" value="730199fd3ba87e4b095d6341c55" />

		<add key="RecaptchaPublicKey" value="4SAAAAANUTvdad4FnCJGbnij6d-q598E7h" />
		<add key="RecaptchaPrivateKey" value="6SAAAAAO3ZQEGK8-lT3MA1FgV43Qso6aP_" />
		<add key="TradeServiceUsername" value="Cryptopia" />
		<add key="TradeServicePassword" value="SUPERsafe213" />
		<add key="TradeServiceDomain" value="CryptopiaWallet" />
		<add key="ClientNotificationUrl" value="http://localhost/" />

		<add key="CDN_Script_Enabled" value="false" />
		<add key="CDN_Style_Enabled" value="false" />
		<add key="CDN_Image_Enabled" value="false" />
		<add key="CDN_Script_Endpoint" value="https://cdn1.cryptopia.co.nz" />
		<add key="CDN_Style_Endpoint" value="https://cdn1.cryptopia.co.nz" />
		<add key="CDN_Image_Endpoint" value="https://cdn1.cryptopia.co.nz" />

		<add key="Trottle_ApiRequestPerDay" value="300000" />
		<add key="Trottle_ApiRequestPerMinute" value="200" />

		<add key="Signalr_AuthToken" value="ed27c4bf16b2b6390a8ad9ff1897f07fda7bb409de0e22bcf7580d2780da1" />

		<add key="Signalr_ScaleOut_Sql_Enabled" value="false" />
		<add key="Signalr_ScaleOut_Sql_TableCount" value="10" />

		<add key="Signalr_ScaleOut_Redis_Enabled" value="true" />
		<add key="Signalr_ScaleOut_Redis_Connection" value="127.0.0.1:10000,allowAdmin=true,keepAlive=30" />
		
		<add key="Redis_WebCache_Enabled" value="false" />
		<add key="Redis_ChatCache_Enabled" value="false" />
		<add key="Redis_ApiKeyCache_Enabled" value="false" />
		<add key="Redis_ApiThrottleCache_Enabled" value="false" />
		<add key="Redis_ApiReplayCache_Enabled" value="false" />

		<add key="RedisConnection_WebCache" value="127.0.0.1:10001" />
		<add key="RedisConnection_ChatCache" value="127.0.0.1:10001" />
		<add key="RedisConnection_ApiKeyCache" value="127.0.0.1:10001" />
		<add key="RedisConnection_ApiReplayCache" value="127.0.0.1:10001" />
		<add key="RedisConnection_ApiThrottleCache" value="127.0.0.1:10001" />

		<add key="Localization_EnabledLanguages" value="en,ru" />
	
		<add key="spriteSheetCssOutputPath" value="~\Content\Sprites\sprite_sheet.css" />
	
	</appSettings>

	<system.web>
		<authentication mode="None" />
		<compilation debug="true" targetFramework="4.5.1" />
		<httpRuntime targetFramework="4.5.1" requestPathInvalidCharacters="&lt;,&gt;,*,%,:,\,?" maxUrlLength="10999" maxQueryStringLength="2097151" />
		<sessionState mode="Off" />
		<customErrors mode="RemoteOnly" redirectMode="ResponseRewrite" defaultRedirect="~/Errors/GenericError.aspx">
			<error statusCode="404" redirect="~/Errors/404.aspx" />
			<error statusCode="500" redirect="~/Errors/500.aspx" />
		</customErrors>

	</system.web>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true">
			<remove name="FormsAuthenticationModule" />
		</modules>
		<handlers>
			<remove name="ExtensionlessUrlHandler-Integrated-4.0" />
			<remove name="OPTIONSVerbHandler" />
			<remove name="TRACEVerbHandler" />
			<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
		</handlers>
		<httpProtocol>
			<customHeaders>
				<remove name="X-Powered-By" />
			</customHeaders>
		</httpProtocol>
		<httpErrors errorMode="DetailedLocalOnly">
			<remove statusCode="400" />
			<error statusCode="400" path="Errors\400.html" responseMode="File" />
			<remove statusCode="404" />
			<error statusCode="404" path="Errors\404.html" responseMode="File" />
			<remove statusCode="500" />
			<error statusCode="500" path="Errors\500.html" responseMode="File" />
		</httpErrors>
		<security>
			<requestFiltering>
				<requestLimits maxUrl="10999" maxQueryString="2097151" />
			</requestFiltering>
		</security>
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.AspNet.Identity.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Base32" publicKeyToken="3427d4dc8cee30c6" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.1.0.2" newVersion="1.1.0.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="AngleSharp" publicKeyToken="e83494dcdc6d31ea" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-0.9.6.41832" newVersion="0.9.6.41832" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.AspNet.SignalR.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.2.2.0" newVersion="2.2.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="StackExchange.Redis.StrongName" publicKeyToken="c219ff1ca8c2ce46" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.2.3.0" newVersion="1.2.3.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<system.serviceModel>
		<bindings>
			<netTcpBinding>
				<binding name="NetTcpBinding_ITradeProcessor" maxBufferPoolSize="0" maxReceivedMessageSize="51200000">
					<reliableSession enabled="false" />
					<security mode="None" />
				</binding>
				<binding name="NetTcpBinding_IWalletInbound" maxBufferPoolSize="0" maxReceivedMessageSize="51200000">
					<reliableSession enabled="false" />
					<security mode="None" />
				</binding>
			</netTcpBinding>
		</bindings>
		<client>
			<endpoint address="net.tcp://localhost:8000/CryptopiaTrade/service" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ITradeProcessor" contract="TradeService.ITradeProcessor" name="NetTcpBinding_ITradeProcessor">
				<identity>
					<userPrincipalName value="Zucchetto\clark" />
				</identity>
			</endpoint>
			<endpoint address="net.tcp://localhost:8001/CryptopiaInbound/service" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IWalletInbound" contract="DepositService.IWalletInbound" name="NetTcpBinding_IWalletInbound">
				<identity>
					<userPrincipalName value="Zucchetto\clark" />
				</identity>
			</endpoint>
		</client>
		<behaviors>
			<serviceBehaviors>
				<behavior>
					<dataContractSerializer maxItemsInObjectGraph="2147483647" />
					<serviceThrottling maxConcurrentCalls="10000" maxConcurrentInstances="10000" maxConcurrentSessions="10000" />
					<serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="true" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
</configuration>