<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ClientTargetWebSite" value="devtopia.cryptopia.co.nz"/>
    <add key="IncapsulaApiId" value="24851"/>
    <add key="IncapsulaApiKey" value="94974d1c-2c98-48d0-8be2-44f8a9d040a5"/>
    <add key="IncapsulaAccountId" value="806714"/>
    <add key="IncapsulaEndpoint" value="https://my.incapsula.com/api"/>
  </appSettings>
  <!--<system.net>
    <settings>
      <httpWebRequest useUnsafeHeaderParsing="true" />
    </settings>
  </system.net>-->
</configuration>