<script id="notificationTemplate" type="text/html">
	<table class="notification-table">
		<tr>
			<td class="notification-header" colspan="2">{{header}}</td>
		</tr>
		<tr>
			<td>
				<i class="fa {{icon}} fa-4x notification-{{type}}"></i>
			</td>
			<td>
				<p class="notification-message">{{message}}</p>
			</td>
		</tr>
	</table>
</script>
