<div class="panel panel-default panel-social-footer">
	<div class="panel-body" style="padding: 5px">
		<div class="col-xs-3 text-center">
			<a title="Cryptopia Twitter" target="_blank" rel="noopener noreferrer" href="https://twitter.com/Cryptopia_NZ">
				<i class="fa fa-2x fa-twitter"></i>
			</a>
		</div>
		<div class="col-xs-3 text-center ">
			<a title="Cryptopia Facebook" target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/cryptopiaexchange">
				<i class="fa fa-2x fa-facebook "></i>
			</a>
		</div>
		<div class="col-xs-3 text-center">
			<a title="Cryptopia Linked-in" target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/company/cryptopia-limited">
				<i class="fa fa-2x fa-linkedin"></i>
			</a>
		</div>
		<div class="col-xs-3 text-center">
			<a title="Cryptopia Discord" target="_blank" rel="noopener noreferrer" href="https://discord.gg/2kMgEgw">
				<i class="fa fa-2x fa-comment-o"></i>
			</a>
		</div>
	</div>
</div>
