@{
    ViewBag.Title = Resources.Layout.unauthorizedTitle;
	ViewBag.IsFullPage = true;
}

<div class="alert alert-warning" style="margin: 5%;">
    <h4 class="nopad" style="margin:0px"><strong>@Resources.Layout.unauthorizedHeadline</strong></h4>
    <hr />
    <h5>@Resources.Layout.unauthorizedMessage</h5>
</div>

