@model Cryptopia.Admin.Common.Support.TicketListViewModel

@{
	ViewBag.Title = "Admin Support";
}

<style>
	span {
		margin-left: 5px;
	}

	.clickable-row { cursor: pointer; }

	.btn-select {
		position: relative;
		padding: 0;
		min-width: 90px;
		width: 100%;
		border-radius: 0;
		margin-bottom: 20px;
	}

	.btn-select .btn-select-value {
		padding: 6px 12px;
		display: block;
		position: absolute;
		left: 0;
		right: 34px;
		text-align: left;
		text-overflow: ellipsis;
		overflow: hidden;
		border-top: none !important;
		border-bottom: none !important;
		border-left: none !important;
	}

	.btn-select .btn-select-arrow {
		float: right;
		line-height: 20px;
		padding: 6px 10px;
		top: 0;
	}

	.btn-select ul {
		display: none;
		background-color: white;
		color: black;
		clear: both;
		list-style: none;
		padding: 0;
		margin: 0;
		border-top: none !important;
		position: absolute;
		left: -1px;
		right: -1px;
		top: 33px;
		z-index: 999;
	}

	.btn-select ul li {
		padding: 3px 6px;
		text-align: left;
	}

	.btn-select ul li:hover { background-color: #f4f4f4; }

	.btn-select ul li.selected { color: white; }

	/* Primary Start */

	.btn-select.btn-primary:hover, .btn-select.btn-primary:active, .btn-select.btn-primary.active { border-color: #286090; }

	.btn-select.btn-primary ul li.selected {
		background-color: #2e6da4;
		color: white;
	}

	.btn-select.btn-primary ul { border: #2e6da4 1px solid; }

	.btn-select.btn-primary .btn-select-value {
		background-color: #428bca;
		border: #2e6da4 1px solid;
	}

	.btn-select.btn-primary:hover, .btn-select.btn-primary.active { background-color: #286090; }

	/* Primary End */

	.btn-select.btn-select-light .btn-select-value {
		background-color: white;
		color: black;
	}


</style>

<div id="ticket-list-app"></div>

@section Scripts {

	<script>
		
		@{
			var razorJsonModel = new
			{
				viewModel = Model,
				moveTicketAction = Url.Action("MoveTicket"),
				ticketDetailsAction = Url.Action("TicketDetails"),
				getOpenTicketsAction = Url.Action("GetOpenTickets"),
				userAction = Url.Action("Index", "User")
			};
		}

		window.razorJsonModel = '@Html.Raw(Json.Encode(razorJsonModel))';
	
	</script>

	<script src="~/Scripts/project/support/ticketList.bundle.js"></script>
}