<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dapper" version="1.50.2" targetFramework="net451" />
  <package id="MySql.ConnectorNET.Data" version="6.8.3.2" targetFramework="net45" />
  <package id="MySql.ConnectorNET.Web" version="6.8.3.2" targetFramework="net45" />
  <package id="MySql.Data" version="6.9.9" targetFramework="net451" />
  <package id="MySQL.NET" version="6.6.4" targetFramework="net45" />
</packages>