<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
	</startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="AngleSharp" publicKeyToken="e83494dcdc6d31ea" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-0.9.6.41832" newVersion="0.9.6.41832" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>

	<system.serviceModel>
		<bindings>
   <netTcpBinding>
    <binding name="NetTcpBinding_ITradeProcessor" maxBufferPoolSize="0"
     maxReceivedMessageSize="51200000">
     <reliableSession enabled="false" />
     <security mode="None" />
    </binding>
    <binding name="NetTcpBindingEndpoint">
     <security mode="None">
      <transport sslProtocols="Tls, Tls11, Tls12" />
     </security>
    </binding>
   </netTcpBinding>
  </bindings>
		<client>
   <endpoint address="net.tcp://localhost:8000/CryptopiaTrade/service"
    binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ITradeProcessor"
    contract="TradeService.ITradeProcessor" name="NetTcpBinding_ITradeProcessor" />
   <endpoint address="net.tcp://localhost:8000/CryptopiaTrade/service"
    binding="netTcpBinding" bindingConfiguration="NetTcpBindingEndpoint"
    contract="TradeService.ITradeProcessor" name="NetTcpBindingEndpoint" />
  </client>
	</system.serviceModel>
</configuration>
