<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="LogLocation" value="C:\" />
		<add key="LogLevel" value="Verbose" />
		<add key="ClientSettingsProvider.ServiceUri" value="" />
	</appSettings>
	<connectionStrings>
		<add name="Default" connectionString="Server=tcp:database.devtopia.co.nz,1433;Database=Cryptopia;User ID=Development;Password=35a5d30d672d535c430cf55a5268b901;Trusted_Connection=False;Encrypt=True;TrustServerCertificate=True;Connection Timeout=30;" providerName="System.Data.SqlClient" />
		<add name="CryptopiaHub" connectionString="Server=tcp:database.devtopia.co.nz,1433;Database=CryptopiaHub;User ID=Development;Password=35a5d30d672d535c430cf55a5268b901;Trusted_Connection=False;Encrypt=True;TrustServerCertificate=True;Connection Timeout=30;" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<system.serviceModel>
		<bindings>
			<netTcpBinding>
				<binding name="myBinding" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" maxBufferPoolSize="2147483647">
					<readerQuotas maxDepth="64" maxArrayLength="2147483647" maxStringContentLength="2147483647" />
					<security mode="None" />
					<reliableSession enabled="false" />
				</binding>
			</netTcpBinding>
		</bindings>
		<client />
		<services>
			<!-- This section is optional with the new configuration model
           introduced in .NET Framework 4. -->
			<service name="Cryptopia.InboundService.WalletInboundService" behaviorConfiguration="CryptopiaServiceBehavior">
				<host>
					<baseAddresses>
						<add baseAddress="net.tcp://localhost:8001/CryptopiaInbound/service" />
					</baseAddresses>
				</host>
				<!-- this endpoint is exposed at the base address provided by host: http://localhost:8000/CryptopiaInbound/service  -->
				<endpoint address="" binding="netTcpBinding" contract="Cryptopia.InboundService.IWalletInbound" />
				<!-- the mex endpoint is exposed at http://localhost:8000/CryptopiaInbound/service/mex -->
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="CryptopiaServiceBehavior">
					<serviceMetadata httpGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="False" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
			</providers>
		</roleManager>
	</system.web>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
	</startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.9.9.0" newVersion="6.9.9.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
