@{
	ViewBag.Title = Resources.Home.privacyTitle;
}

@Html.AntiForgeryToken()
<div class="col-lg-12">
	<div class="col-lg-offset-1 col-lg-10">
		@Html.Raw(Resources.Home.Privacy)
	</div>
</div>
<div class="clearfix"></div>
@Html.Partial("_SEOPartial")