<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="LogLocation" value="C:\" />
    <add key="LogLevel" value="Verbose" />
		<!--seconds-->
    <add key="PollPeriod" value="60" />
		<!--minutes-->
		<add key="PollConfirmationPeriod" value="5" />
		<add key="MaxConfirmationCount" value="20" />
		<add key="SendTimeout" value="4" />
		<add key="ClientNotificationUrl" value="http://localhost:62066/" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
		<add key="Signalr_AuthToken" value="401ed27c4bf16b2b6390a8ad9ff1897f07fda7bb409de0e22bcf7580d2780da1"/>
  </appSettings>
  <connectionStrings>
    <add name="Default" connectionString="Server=tcp:database.devtopia.co.nz,1433;Database=Cryptopia;User ID=Development;Password=35a5d30d672d535c430cf55a5268b901;Trusted_Connection=False;Encrypt=True;TrustServerCertificate=True;Connection Timeout=30;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
    <add name="CryptopiaHub" connectionString="Server=tcp:database.devtopia.co.nz,1433;Database=CryptopiaHub;User ID=Development;Password=35a5d30d672d535c430cf55a5268b901;Trusted_Connection=False;Encrypt=True;TrustServerCertificate=True;Connection Timeout=30;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.9.9.0" newVersion="6.9.9.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" /></startup></configuration>
