<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
	<connectionStrings>
		<add name="DefaultConnection" connectionString="Data Source=database.devtopia.co.nz;Database=CryptopiaHub;User ID=Development;Password=35a5d30d672d535c430cf55a5268b901;Trusted_Connection=False;Encrypt=True;TrustServerCertificate=True;Connection Timeout=30;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
		<add name="DefaultPoolConnection" connectionString="Data Source=database.devtopia.co.nz;Database=CryptopiaPool;User ID=Development;Password=35a5d30d672d535c430cf55a5268b901;Trusted_Connection=False;Encrypt=True;TrustServerCertificate=True;Connection Timeout=30;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
		<add name="DefaultExchangeConnection" connectionString="Data Source=database.devtopia.co.nz;Database=Cryptopia;User ID=Development;Password=35a5d30d672d535c430cf55a5268b901;Trusted_Connection=False;Encrypt=True;TrustServerCertificate=True;Connection Timeout=30;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
	</connectionStrings>
  <appSettings>
	  <add key="LogLocation" value="C:\" />
	  <add key="LogLevel" value="Verbose" />
	
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
		
    <add key="siteDirectoryPath" value="C:\Users\Toby\Documents\Cryptopia\Web.Site\Web.Site\" />
    <add key="imagesDirectoryPath" value="~\Content\Images\Coins" />
    <add key="spriteSheetImageOutputPath" value="~\Content\Sprites\sprite_sheet.png" />
    <add key="spriteSheetCssOutputPath" value="~\Content\Sprites\sprite_sheet.css" />
    <add key="spriteCssRelativeUrl" value="sprite_sheet.png" />
  </appSettings>
  <system.web>
    <compilation debug="false" />
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
	  <bindings>
		  <netTcpBinding>
			  <binding name="myBinding" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" receiveTimeout="00:10:00" sendTimeout="00:10:00">
				  <readerQuotas maxDepth="64" maxArrayLength="2147483647" maxStringContentLength="2147483647" />
				  <security mode="None" />
				  <reliableSession enabled="false" />
			  </binding>
		  </netTcpBinding>
	  </bindings>
    <services>
      <service name="SpriteBuilderService.SpriteBuilderService">
        <endpoint address="" binding="netTcpBinding" contract="SpriteBuilderService.ISpriteBuilderService" bindingConfiguration="myBinding"/>          
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8733/Design_Time_Addresses/SpriteBuilderService/SpriteBuilderService/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="False" httpsGetEnabled="False" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>